#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.expanded-small-searchbar {
  background-color: #535456;
  border-radius: 16px;
  display: flex;
  flex-directions: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  height: 50px;
}
.search-input {
  border: 0px;
  font-size: 16px;
  vertical-align: super;
  background: transparent;
}
input[type="text"]:focus {
  outline: none;
  color: black;
}
.button-icon {
  background:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-align: center; }
.button-icon:hover {
  border:0px;
  background-color: #ffffff77;
  border-radius: 256px;
}
.button-icon:not(:focus) {
  border: 0px;
  outline: none;
}


