button:active {
  border: 0px;
}
button:focus {
  outline: none;
  border: 0px;
}
.small-searchbar {

  background-color: #535456;
  border-radius: 16px;
  display: flex;
  flex-directions: row;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  height: 50px;
  width: fit-content;
  padding: 4px 5px;
}
.search-input {
  border: 0px;
  font-size: 16px;
  vertical-align: super;
  padding-left: 4px;
  background: transparent;
}
.search-input::placeholder {
  color: #abaaa7;
}
input[type="text"]:focus {
  outline: none;
}

.button-icon {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-align: center;
  height: 36px;
  width: 36px;
}

.button-icon:hover {
  border: 0px;
  background-color: #ffffff77;
  border-radius: 256px;
}
.button-icon:not(:focus) {
  border: 0px;
  outline: none;
}

